.memo-section {
  width: 55%;
  min-width: 375px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input {
  margin-top: 30px;
  width: 80%;
  height: 3%;
  min-height: 20px;
  border: 1.5px solid #3a3a3a;
  border-radius: 4px;
  font-weight: bold;
}

.folder-select {
  margin-top: 30px;
  width: 80%;
  height: 3%;
  min-height: 20px;
  border: 1.5px solid #3a3a3a;
  border-radius: 4px;
}

.edit-options {
  margin-top: 25px;
  width: 80%;
  display: flex;
  justify-content: left;
}

.tool-button {
  margin: 5px;
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.memo-textarea {
  margin-bottom: 30px;
  padding: 5px;
  width: 85%;
  min-height: 75px;
  flex-grow: 1;
  border: 1.5px solid #3a3a3a;
  border-radius: 8px;
  resize: none;
}